*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 800px;
    margin: 0 auto;
}

header{
    margin-bottom: 50px;
}

.domande{
    margin-bottom: 40px;
}

p{
    margin-top: 40px;
}